// Typography
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
  @media (min-width: 1200px) {
    font-size: 2.5rem;
  }
}

h2, .h2 {
  font-size: calc(1.325rem + .9vw);
  @media (min-width: 1200px) {
    font-size: 2rem;
  }
}

h3, .h3 {
  font-size: calc(1.3rem + .6vw);
  @media (min-width: 1200px) {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  font-size: calc(1.275rem + .3vw);
  @media (min-width: 1200px) {
    font-size: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.bold {
  font-weight: bold;
}

.no-bold {
  font-weight: normal;
}

.italic {
  font-style: italic;
}

.no-italic {
  font-style: normal;
}

.underline {
  text-decoration: underline;
}

.no-underline,
.no-line-through {
  text-decoration: none;
}

.line-through {
  text-decoration: line-through;
}

.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.no-transform {
  text-transform: none;
}

.line-bottom-full {
  border-bottom: 2px solid var(--di-gray-300);
  padding-bottom: 0.5rem;
}

.line-bottom {
  position: relative;
  padding-bottom: 0.5rem;

  &::before {
    content: '';
    bottom: -2px;
    background: var(--di-gray-300);
    width: 50px;
    position: absolute;
    height: 2px;
  }
}
